/* CSS RESETS */

body,h1, hr, li, ul, .website {
	margin: 0px;
	padding:0px;
}

/* Layout */

body {
	background-color: #ccc;
}

.website {	
	width: 1100px;
	height: 2000px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	margin: 10px auto 0px auto;
	padding: 20px;
}

/* Boxen */

.box1 {						/* Überschrift und erster Strich*/
	height: 105px;
	width: 900px;
	margin: 0px 0px 0px 0px;
}

.box2 {						/* Navigation 1 und zweiter Strich*/
	height: 47px;
	width: 900px;
	margin-top: 3px;
}

.box3 {					    /* Navigation 2 */
	height: 62px;
	width: 900px;
	margin-top: 3px;
}

.box4 {
	height: 220px;
	width: 900px;
	margin-top: 10px;
}

.box5 {
	height: 220px;
	width: 350px;
	padding-top: 70px;
	padding-left:189.5px;
}


/* Striche */

.Strich1 {
	border: none;
	border-top: 1px solid;
	color: rgb(31,80,128);
	background-color: none;
	width: 1020px;
	height: 1px;
	margin-left: 100px;
	padding-top: 12.672px;

}

.Strich2 {
	border: none;
	border-top: 0.75px solid;
	color: rgb(31,80,128);
	background-color: none;
	width: 970px;
	height: 1px;
	margin-left: 150px;
	padding-bottom: 6.5px;}
}

/* Navigation Themen*/

#nav {}
 
#nav ul {
   list-style:none;         /* keine Aufzählungspunkte */
   padding-left: 335px;
   padding-top: 22px;
   padding-bottom: 13px;
}
 
#nav li a { 
   display: inline;				/* Listenelemente nebeneinander */
   float:left;                  /* Anordnung links   */
   font-family: DINPro;
   font-weight: normal;
   font-size: 14pt;
   color: black;
   text-decoration: none;
   background-color: rgb(240,240,240);
   margin: 12px 7.5px 13px 15px;
   padding: 4px 8px 4px 8px;
} 

#nav li a:hover { 
   display: inline;				/* Listenelemente nebeneinander */
   float:left;                  /* Anordnung links   */
   font-family: DINPro;
   font-weight: normal;
   font-size: 14pt;
   color: rgb(31,80,128);
   text-decoration: none;
   padding: 4px 8px 4px 8px;
} 

/* Navigation Jahre*/

#years {}
 
#years ul {
   list-style:none;         /* keine Aufzählungspunkte */
   padding-left: 335px;
   padding-top: 37px;
   padding-bottom: 9.696px;
   padding-right: 300px;
}
 
#years li a { 
   font-family: DINPro;
   font-weight: normal;
   font-size: 14pt;
   color: black;
   text-decoration: none;
   margin: 12px 7.5px 13px 15px;
} 

.zweiteSpalte {
	position: relative;
	left: 59px;
	top: -75px;
}

.dritteSpalte {
	position: relative;
	left: 118px;
	top: -150px;
}

.vierteSpalte {
	position: relative;
	left: 177px;
	top: -225px;
}

.fuenfteSpalte {
	position: relative;
	left: 236px;
	top: -300px;
}

.sechsteSpalte {
	position: relative;
	left: 295px;
	top: -375px;
}

.siebteSpalte {
	position: relative;
	left: 353px;
	top: -450px;
}

#years li a:hover { 
   font-family: DINPro;
   font-weight: normal;
   font-size: 14pt;
   color: rgb(31,80,128);
   text-decoration: none;
}

/* Rahmen */

#rectangle {
	width: 760px;
	height: 264px;
	background-color: #fff;
	border: solid;
	border-color: rgb(240,240,240);
	border-width: 1px;
	border-radius: 12px;
	margin-left: 189.5px;
	margin-top: 75px;
}

/* Tabelle 1 */

.Tabelle1 {
	color: black;
	text-align: left;
	font-size: 12pt;
	font-family: DINPro;
	font-weight: normal;
	line-height: 13pt;
	padding-left: 368px;
	margin-top: -62px;
}

/* TYPO */

h1 {
	color: black;
	text-align: left;
	font-size: 48pt;
	font-family: DINPro;
	font-weight: normal;
	padding-left: 205px;
	padding-top: 42px;

}

h2 {
	color: rgb(31,80,128);
	text-align: left;
	font-size: 14pt;
	font-family: DINPro;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 0px;
}

.unterueberschrift {
	color: black;
	text-align: left;
	font-size: 12pt;
	font-family: DINPro;
	font-weight: normal;
	padding-left: 20px;

}

.fliesstext {
	color: black;
	text-align: left;
	font-size: 12pt;
	font-family: DINPro;
	font-weight: normal;
}




