/* CSS RESETS */

body,h1, hr, li, ul {
	margin: 0px;
	padding:0px;
}

/* Layout */

body {
	background-color: #ccc;
	width: 1200px;
	height: 2050px;
}

.website {	
	width: 900px;
	height: 2000px;
	float: center;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	margin: 10px auto 0px auto;
}

/* Boxen */

.box1 {						/* Überschrift und erster Strich*/
	height: 105px;
	width: 900px;
	margin: 0px 0px 0px 0px;
}

.box2 {						/* Navigation 1 und zweiter Strich*/
	height: 47px;
	width: 900px;
	margin-top: 3px;
}

.box3 {					    /* Navigation 2 */
	height: 62px;
	width: 900px;
	margin-top: 3px;
}

.box4 {
	height: 220px;
	width: 900px;
	margin-top: 10px;
}


/* Striche */

.Strich1 {
	border: none;
	border-top: 1px solid;
	color: rgb(31,80,128);
	background-color: none;
	width: 800px;
	height: 1px;
	margin-left: 100px;
	padding-top: 12.672px;

}

.Strich2 {
	border: none;
	border-top: 1px solid;
	color: rgb(31,80,128);
	background-color: none;
	width: 750px;
	height: 1px;
	margin-left: 150px;
	padding-bottom: 6.5px;}
}

/* Navigation Themen*/

#nav {}
 
#nav ul {
   list-style:none;         /* keine Aufzählungspunkte */
   padding-left: 295px;
   padding-top: 22px;
   padding-bottom: 13px;
}
 
#nav li a { 
   display: inline;				/* Listenelemente nebeneinander */
   float:left;                  /* Anordnung links   */
   font-family: DINPro;
   font-weight: normal;
   font-size: 14pt;
   color: black;
   text-decoration: none;
   background-color: rgb(240,240,240);
   margin: 12px 15px 13px 15px;
   padding: 4px 8px 4px 8px;
} 

#nav li a:hover { 
   display: inline;				/* Listenelemente nebeneinander */
   float:left;                  /* Anordnung links   */
   font-family: DINPro;
   font-weight: normal;
   font-size: 14pt;
   color: rgb(31,80,128);
   text-decoration: none;
   padding: 4px 8px 4px 8px;
} 

/* Navigation Jahre*/

#years {}
 
#years ul {
   list-style:none;         /* keine Aufzählungspunkte */
   padding-left: 295px;
   padding-top: 37px;
   padding-bottom: 9.696px;
   padding-right: 300px;
}
 
#years li a { 
   font-family: DINPro;
   font-weight: normal;
   font-size: 14pt;
   color: black;
   text-decoration: none;
   margin: 12px 14px 13px 14px;
} 

.zweiteSpalte {
	position: relative;
	left: 63px;
	top: -75px;
}

.dritteSpalte {
	position: relative;
	left: 126px;
	top: -150px;
}

.vierteSpalte {
	position: relative;
	left: 189px;
	top: -225px;
}

.fuenfteSpalte {
	position: relative;
	left: 252px;
	top: -300px;
}

.sechsteSpalte {
	position: relative;
	left: 315px;
	top: -375px;
}

.siebteSpalte {
	position: relative;
	left: 378px;
	top: -450px;
}

#years li a:hover { 
   font-family: DINPro;
   font-weight: normal;
   font-size: 14pt;
   color: rgb(31,80,128);
   text-decoration: none;
}

/* Rahmen */

#rectangle {
	width: 560.5px;
	height: 200px;
	background-color: #fff;
	border-color: rgb(240,240,240);
	border-radius: 12px;
}

/* TYPO */

h1 {
	color: black;
	text-align: left;
	font-size: 48pt;
	font-family: DINPro;
	font-weight: normal;
	padding-left: 195px;
	padding-top: 42px;

}




